.container {
  display: grid;
  grid-template-columns: 26rem 1fr;
  align-items: center;
  /* border: 1px solid var(--primary-color); */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 3rem;
  margin: 4rem 0;
  background-color: #f3f3f3;
  /* background-color: #e6ece9; */
}

.imageContainer {
  overflow: hidden;
  height: 100%;
}

.image {
  /* width: 100%; */
  /* height: auto; */
  height: 100%;
  border-bottom-left-radius: 3rem;
  border-top-left-radius: 3rem;
}

.contentContainer {
  padding: 1rem 2rem;
}

.name {
  font-size: 3rem;
}

.bg {
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 1.4px;
  padding: 0.1rem 0.4rem;
  background-color: var(--secondary-color);
  /* background-color: var(--primary-color); */
  color: var(--light-color);
  border-radius: 1rem;
}

.innerContentContainer {
  display: grid;
  grid-template-columns: 10rem 1fr;
  align-items: center;
}

.price {
  font-size: 3rem;
}

.btnContainer {
  text-align: right;
}

.btn {
  margin: 0 1rem;
}

.ctaBtn {
  background-color: var(--primary-color);
  color: var(--light-color);
  border-radius: 4rem;
  padding: 0.5rem 2rem;
}

.buyBtn {
  border: 1px solid var(--primary-color);
  border-radius: 4rem;
  padding: 0.5rem 2rem;
}

.favouriteBtn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
}
