.container {
  text-align: right;
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  margin-left: 2rem;
  font-size: 3rem;
}

.btnDisabled {
  border-color: var(--light-color);
}
