.container {
  position: relative;
  min-height: 25rem;
  overflow-x: hidden;
}
.innerContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  transition: all 0.2s;
  position: absolute;
  top: 0;
  right: 0;
}

.containerShow {
  opacity: 1;
  transform: translateX(0);
}
